@import url('https://fonts.googleapis.com/css2?family=Amiri&family=DM+Sans&family=Dancing+Script&family=Lora:ital@1&family=Nanum+Myeongjo:wght@700&display=swap');

.div__footer {
    margin: 18em 0 0 0 ;
    height:7rem; 
    background-color: rgba(250, 235, 215, 0.645);
    display:grid;
    grid-template-columns:1fr auto auto 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:".   .    .   ." 
                        ". insta pint ." 
                        ".   .    .  firma";
}
.instagram{
    grid-area: insta;
    margin: 0 1em 0 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.583);
    text-decoration: none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.pinterest{
    grid-area: pint;
    margin: 0 0 0 1em;
    color: rgba(0, 0, 0, 0.583);
    text-decoration: none;
    display:flex;
    align-items:center;
}
.firma{
    grid-area: firma;
    color: black;
    text-decoration: none;
    font-family: 'Amiri', serif;
    font-size: 1rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin: 0 1em 0.1em 0 ;
    padding: 0;
}

.pinterest:hover{
    color:rgba(0, 0, 0, 0.583);
    border-radius: 1em;
    animation: pulse 1s infinite;
}

.instagram:hover{
    color:rgba(0, 0, 0, 0.583);
    border-radius: 0.6em;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: rgba(0, 0, 0, 0.583) 0 0 0 0;
    }
    75% {
        box-shadow: rgba(0, 0, 0, 0) 0 0 0 0.8em;
    }
}